<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!--

                Implement a way to filter through listings using the search bar

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchString">
          </div>

          <!--

           Write an HTML form that adds new listings to the directory

         -->

          <nav class="navbar navbar-default">
            <button type="button" class="btn btn-success navbar-btn to-the-left" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="openNewItemModel()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>

            <button id="deleteButton" type="button" class="btn btn-danger navbar-btn to-the-right" disabled ng-click="deleteListing()">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

              <button id="cancelButton" type="button" class="btn btn-default navbar-btn to-the-right" disabled ng-click="canceldeleteListing()">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
              </button>
          </nav>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New Item</h4>
                    </div>

                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Code</span>
                            <input type="text" class="form-control" ng-model="newItem.code" placeholder="code" aria-describedby="sizing-addon1">
                        </div>
                        <br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">Name</span>
                            <input type="text" class="form-control" ng-model="newItem.name" placeholder="name" aria-describedby="sizing-addon1">
                        </div>
                        <br>
                        <div class="input-group input-group-mid">
                            <span class="input-group-addon">Address</span>
                            <input type="text" class="form-control" ng-model="newItem.address" placeholder="address" aria-describedby="sizing-addon1">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Coordinates</span>
                            <input type="text" class="form-control" ng-model="newItem.coordinates.latitude" placeholder="latitude" aria-describedby="sizing-addon1">
                            <input type="text" class="form-control" ng-model="newItem.coordinates.longitude" placeholder="longitude" aria-describedby="sizing-addon1">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="addListing()">Save Item</button>
                    </div>

                </div>
            </div>
        </div>

          <div >
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th class="col-xs-2" >Code</th>
                    <th class="col-xs-9">Building Name</th>
                    <th class="col-xs-1"> </th>
                </tr>
              </thead>
              <!--

                 Fill in the rest of the table:
                     * populate the rows with the code and name of each listing
                     * include a way to remove individual listings

               -->
                <tbody class ="tableWrapper">
                  <tr ng-repeat="x in listings | filter:searchString" ng-click="showDetails(listings.indexOf(x))">
                    <td class="col-xs-2">{{x.code}}</td>
                    <td class="col-xs-9">{{x.name}}</td>
                    <td class="col-xs-1"><input type="checkbox"  ng-model="x.check" ng-change="checkChange($index)"></td>
                  </tr>
                </tbody>

            </table>
          </div>

        </div>
        <br/>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>{{detailedInfo.title}}</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
            <p1>{{detailedInfo.address}}</p1>
            <br/>
            <br/>
            <p1>{{detailedInfo.coordinates}}</p1>
            <br/>
            <p1 ng-trim="false">{{detailedInfo.latitude}}</p1>
            <br/>
            <p1>{{detailedInfo.longitude}}</p1>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>

</html>