#searchBar {
  margin: 15px 10px;
}

.tabbleWrapper{
    /*max-height: 400px;*/
    /*overflow: auto;*/
}

p1{
  color: #3d4e68;
}

.to-the-left{
    margin-left: 20px
}

.to-the-right{
    float:right;
    margin-right: 20px;
}

tr {
    width: 100%;
    display: inline-table;
}

table{
    height:350px;
    display: -moz-groupbox;
}
tbody{
    overflow-y: scroll;
    height: 350px;

    position: absolute;
}